<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.study.hong.receiverdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".ReceiveCustomReceiver">
            <intent-filter>
                <action android:name="com.study.hong.knowledgecommon.disorder.broadcast"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".ProvienceReceiver">
            <intent-filter
                android:priority="1000">
                <action android:name="com.study.hong.knowledgecommon.order.broadcast.rice"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".CityReceiver">
            <intent-filter
                android:priority="500">
                <action android:name="com.study.hong.knowledgecommon.order.broadcast.rice"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".CountryReceiver">
            <intent-filter
                android:priority="100">
                <action android:name="com.study.hong.knowledgecommon.order.broadcast.rice"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".NongMinReceiver">
            <intent-filter
                android:priority="10">
                <action android:name="com.study.hong.knowledgecommon.order.broadcast.rice"/>
            </intent-filter>
        </receiver>


    </application>

</manifest>